*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* Body */

body{
    width:100%;
    min-height:100vh;

    display:flex;

    overflow:hidden;

    background:
    radial-gradient(circle at top left,
    rgba(255,0,120,0.18),
    transparent 25%),

    radial-gradient(circle at bottom right,
    rgba(0,120,255,0.18),
    transparent 25%),

    linear-gradient(
        135deg,
        #100018,
        #22003a,
        #12001f
    );

    color:white;
}

/* Sidebar s*/

.sidebar{
    width:260px;
    height:100vh;

    background:rgba(255,255,255,0.06);

    backdrop-filter:blur(18px);

    border-right:1px solid rgba(255,255,255,0.08);

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    padding:25px;
}

/* Logo */

.logo-section{
    display:flex;
    align-items:center;

    gap:15px;

    margin-bottom:40px;
}

.sidebar-logo{
    width:55px;
    height:55px;

    border-radius:50%;

    object-fit:cover;
}

.logo-section h2{
    font-size:24px;
    font-weight:600;
}

/* Menu */

.sidebar-menu{
    display:flex;
    flex-direction:column;

    gap:14px;
}

.menu-btn{
    width:100%;
    height:54px;

    border:none;

    border-radius:18px;

    background:transparent;

    color:white;

    display:flex;
    align-items:center;

    gap:14px;

    padding:0 18px;

    font-size:15px;
    font-weight:500;

    cursor:pointer;

    transition:0.25s ease;
}

.menu-btn:hover{
    background:rgba(255,255,255,0.08);

    transform:translateX(4px);
}

.active{
    background:linear-gradient(
        90deg,
        #ff00aa,
        #4c6fff
    );

    box-shadow:
    0 8px 25px rgba(
        76,
        111,
        255,
        0.22
    );
}

/* Logout */

.logout-btn{
    width:100%;
    height:45px;

    border:none;

    border-radius:14px;

    background:linear-gradient(
        90deg,
        hsl(315, 100%, 52%),
        #3f63ff
    );

    color:white;

    cursor:pointer;

    transition:0.25s;
}

.logout-btn:hover{
    transform:translateY(-2px);
}

/* Main Content */

.main-content{
    flex:1;

    height:100vh;

    overflow-y:auto;

    padding:35px;
}

/* Sections */

.section{
    display:none;

    animation:
    sectionFade 0.25s ease;
}

.active-section{
    display:block;
}

/* Topbar */

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:35px;
}

.topbar h1{
    font-size:34px;

    margin-bottom:5px;
}

.topbar p{
    opacity:0.75;
}

.topbar input{
    width:280px;
    height:48px;

    border:none;

    border-radius:14px;

    background:rgba(255,255,255,0.08);

    color:white;

    padding:0 16px;

    outline:none;
}

/* Add box */

.add-box{
    width:100%;

    background:rgba(255,255,255,0.06);

    backdrop-filter:blur(18px);

    border-radius:24px;

    padding:22px;

    display:grid;

    grid-template-columns:
    1fr
    1fr
    1fr
    1fr
    auto;

    gap:15px;

    margin-bottom:35px;
}

.add-box input{
    height:48px;

    border:none;

    border-radius:14px;

    background:rgba(255,255,255,0.08);

    color:white;

    padding:0 14px;

    outline:none;
}

/* Password Input */

.password-input{
    position:relative;
}

.password-input input{
    width:100%;

    padding-right:45px;
}

/* Show Password Button */

.eye-btn{
    position:absolute;

    top:50%;
    right:8px;

    transform:translateY(-50%);

    width:34px;
    height:34px;

    border:none;

    border-radius:10px;

    background:rgba(255,255,255,0.08);

    color:white;

    cursor:pointer;
}

/* Save Btn */

.save-btn{
    width:170px;
    height:48px;

    border:none;

    border-radius:14px;

    background:linear-gradient(
        90deg,
        hsl(315, 100%, 52%),
        #3f63ff
    );

    color:white;

    cursor:pointer;

    font-weight:600;

    transition:0.25s;
}

.save-btn:hover{
    transform:translateY(-2px);
}

/* Pass Grid*/

.vault-grid{
    display:flex;
    flex-direction:column;

    gap:22px;
}

/* Pass Card */

.password-card{
    width:100%;

    min-height:110px;

    background:rgba(255,255,255,0.06);

    backdrop-filter:blur(18px);

    border-radius:24px;

    padding:22px 28px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    transition:0.25s;
}

.password-card:hover{
    transform:translateY(-3px);

    background:rgba(255,255,255,0.08);
}


.card-left{
    display:flex;

    align-items:center;

    gap:20px;

    flex:1;
}



.site-icon{
    width:54px;
    height:54px;

    display:flex;
    justify-content:center;
    align-items:center;

    flex-shrink:0;
}

/* Logo */

.vault-logo{
    width:30px;
    height:30px;
    margin-top: 5px;
    object-fit:contain;
}

/* Text */

.card-left h3{
    font-size:20px;

    margin-bottom:5px;
}

.card-left p{
    opacity:0.7;

    margin-bottom:7px;
}

/* Category */

.category{
    padding:5px 10px;

    border-radius:999px;

    background:rgba(255,255,255,0.08);

    font-size:12px;
}



.card-right{
    display:flex;

    align-items:center;

    justify-content:flex-end;

    gap:18px;
}

/* Password Display */

.password-display{
    display:flex;

    align-items:center;

    gap:10px;
}

.password-display input{
    width:200px;

    height:44px;

    border:none;

    border-radius:14px;

    background:rgba(255,255,255,0.08);

    color:white;

    padding:0 14px;

    outline:none;

    font-size:15px;
}


.card-buttons{
    display:flex;

    align-items:center;

    gap:12px;
}

/* Btn group */

.favorite-btn,
.copy-btn,
.edit-btn,
.delete-btn,
.mini-btn{
    height:44px;

    border:none;

    border-radius:14px;

    color:white;

    cursor:pointer;

    transition:0.25s;
}

/* Mini btn */

.mini-btn{
    width:44px;

    background:rgba(255,255,255,0.08);
}

/* Favorite btn */

.favorite-btn{
    width:44px;

    background:rgba(255,255,255,0.08);

    font-size:18px;
}

.favorited{
    background:linear-gradient(
        90deg,
        #ffb300,
        #ffdd55
    );

    color:black;
}

/* Action Btn */

.copy-btn,
.edit-btn,
.delete-btn{
    padding:0 18px;

    font-size:15px;

    font-weight:500;
}

.copy-btn{
    background:#355cff;
}

.edit-btn{
    background:#6b46ff;
}

.delete-btn{
    background:#ff3d71;
}

.favorite-btn:hover,
.copy-btn:hover,
.edit-btn:hover,
.delete-btn:hover,
.mini-btn:hover{
    transform:translateY(-2px);
}

/* Section Page */

.section-page{
    animation:
    sectionFade 0.3s ease;
}

.section-page h1{
    font-size:42px;

    margin-bottom:12px;
}

.section-page p{
    opacity:0.7;

    margin-bottom:35px;
}

/* Analytics */

.analytics-grid{
    display:grid;

    grid-template-columns:
    repeat(4, 1fr);

    gap:20px;
}

.analytics-card{
    background:rgba(255,255,255,0.06);

    border-radius:24px;

    padding:30px;

    backdrop-filter:blur(18px);
}

.analytics-card h2{
    margin-bottom:18px;
}

.analytics-card span{
    font-size:42px;

    font-weight:bold;
}

/* Categories */

.categories-grid{
    display:grid;

    grid-template-columns:
    repeat(3, 1fr);

    gap:20px;
}

.category-box{
    height:120px;

    background:rgba(255,255,255,0.06);

    border-radius:24px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:22px;

    backdrop-filter:blur(18px);

    transition:0.25s;
}

.category-box:hover{
    transform:translateY(-4px);
}

/* MOodal */

.modal-overlay{
    position:fixed;

    inset:0;

    background:rgba(0,0,0,0.55);

    backdrop-filter:blur(8px);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:999;
}

.modal-overlay.show{
    display:flex;

    animation:
    overlayFade 0.25s ease;
}

.custom-modal{
    width:420px;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(20px);

    border-radius:24px;

    padding:28px;

    color:white;

    transform:
    translateY(80px)
    scale(0.95);

    opacity:0;

    animation:
    modalSlideUp 0.35s cubic-bezier(
        0.16,
        1,
        0.3,
        1
    ) forwards;
}

.custom-modal h2{
    margin-bottom:12px;
}

.custom-modal p{
    margin-bottom:25px;

    opacity:0.8;
}

/* Edit Form */

.edit-form{
    display:none;

    flex-direction:column;

    gap:14px;
}

.edit-form input{
    height:46px;

    border:none;

    border-radius:14px;

    background:rgba(255,255,255,0.08);

    color:white;

    padding:0 14px;

    outline:none;
}

/* Modal Btn */

.modal-buttons{
    display:flex;

    justify-content:flex-end;

    gap:12px;

    margin-top:20px;
}

.modal-ok,
.modal-cancel{
    height:44px;

    padding:0 22px;

    border:none;

    border-radius:14px;

    color:white;

    cursor:pointer;
}

.modal-ok{
    background:linear-gradient(
        90deg,
        hsl(315, 100%, 52%),
        #3f63ff
    );
}

.modal-cancel{
    background:rgba(255,255,255,0.08);
}

/* Anims */

@keyframes sectionFade{

    from{
        opacity:0;

        transform:translateY(15px);
    }

    to{
        opacity:1;

        transform:translateY(0);
    }
}

@keyframes overlayFade{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }
}

@keyframes modalSlideUp{

    from{
        opacity:0;

        transform:
        translateY(80px)
        scale(0.95);
    }

    to{
        opacity:1;

        transform:
        translateY(0)
        scale(1);
    }
}